.cartPage {
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cartPage .orders-section {
  width: 95%;
  min-height: 300px;
}
.cartPage .orders-section .empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartPage .orders-section .empty-cart h1 {
  color: #102a42;
  font-size: 40px;
}
.cartPage .orders-section .empty-cart button {
  width: 75px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #ab7a5f;
  letter-spacing: 0.1rem;
}
.cartPage .orders-section .empty-cart button:hover {
  color: black;
  transition: 0.7s;
  background-color: #bd9c89;
}
.cartPage .orders-section .orders-title {
  width: 100%;
}
.cartPage .orders-section .orders-title ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.cartPage .orders-section .orders-title ul li {
  width: 285px;
  text-align: center;
}
.cartPage .orders-section .cart-buttons {
  position: relative;
  top: 50px;
  width: 105%;
  display: flex;
  justify-content: space-between;
}
.cartPage .orders-section .cart-buttons button {
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.cartPage .orders-section .cart-buttons :nth-child(1) {
  background-color: #ab7a5f;
  border-radius: 5px;
}
.cartPage .orders-section .cart-buttons :nth-child(2) {
  background-color: black;
}
.cartPage .orders-section .payment-container {
  width: 105%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
}
.cartPage .orders-section .payment {
  width: 430px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartPage .orders-section .payment .subtotal-payment {
  width: 85%;
}
.cartPage .orders-section .payment .subtotal-payment .without-shipping {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.cartPage .orders-section .payment .subtotal-payment .shipping-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.cartPage .orders-section .payment .subtotal-payment .total-payment {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 100px;
}
.cartPage .orders-section .payment .subtotal-payment .total-payment h4 {
  font-size: 24px;
}
.cartPage .orders-section .login-button {
  width: 430px;
  height: 30px;
  background-color: #ab7a5f;
  color: white;
  border: none;
  border-radius: 5px;
}
.cartPage .empty-cart {
  text-align: center;
}
.cartPage .empty-cart h1 {
  width: 50vw;
}

@media screen and (max-width: 850px) {
  .cartPage {
    height: 150vh;
  }
  .cartPage .orders-section .orders-title ul li {
    display: none;
  }
  .cartPage .orders-section .cart-buttons {
    height: 30vh;
  }
  .cartPage .orders-section .cart-buttons button {
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
  }
  .cartPage .orders-section .cart-buttons :nth-child(1) {
    height: 45px;
    width: 25vw;
    font-size: 15px;
  }
  .cartPage .orders-section .cart-buttons :nth-child(2) {
    width: 35vw;
    font-size: 15px;
  }
  .cartPage .payment-container {
    height: 200vh;
  }
  .cartPage .payment-container .payment {
    width: 90vw;
  }
  .cartPage .payment-container .payment .subtotal-payment .without-shipping {
    width: 60vw;
  }
  .cartPage .payment-container .payment .subtotal-payment .shipping-cost {
    width: 60vw;
  }
  .cartPage .payment-container .payment .subtotal-payment .total-payment {
    width: 60vw;
  }
  .cartPage .payment-container .login-button {
    margin: auto;
    width: 50vw;
  }
}/*# sourceMappingURL=Cart.css.map */