.user-profile {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;
  .user-props {
    width: 90%;

    .header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .view-history {
        border: none;
        border-radius: 8px;
        width: 150px;
        height: 40px;
        font-weight: 700;
        background-color: greenyellow;
      }
      img {
        width: 200px;
        height: 200px;
      }
    }
    .name {
      display: flex;
      align-items: center;
      width: 350px;
      justify-content: space-between;
    }
  }
}
