.filters-component {
  position: relative;
  top: 70px;

  width: 220px;
  min-height: 450px;

  .filters-section {
    width: 210px;
    min-height: 500px;
    position: sticky;
    top: 10px;

    .search-input {
      width: 150px;
      .input-search {
        width: 180px;
        height: 25px;
        background-color: #f1f5f8;
        border: none;
        border-radius: 5px;

        &::placeholder {
          position: relative;
          left: 10px;
        }
      }
    }

    .buttons {
      .buttons-title {
        h5 {
          font-weight: 500;
        }
      }

      button {
        width: 100px;
        height: 22px;
        padding: 5px;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #617d98;
        text-align: start;
        cursor: pointer;

        :active {
          border-bottom: 1px solid black;
        }
      }

      display: flex;
      flex-direction: column;
    }

    .company {
      .company-title {
        h5 {
          font-weight: 500;
        }
      }

      select {
        background-color: #f1f5f8;
        border: none;
        width: 80px;
        height: 20px;

        // option {}
      }
    }

    .colors-buttons {
      .colors-buttons-title {
        h5 {
          font-weight: 500;
        }
      }

      .buttons-colors {
        display: flex;
        gap: 5px;
        height: 20px;
        align-items: center;

        button {
          width: 20px;
          height: 20px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
        }

        .all-button {
          width: 40px;
          height: 25px;
          padding: 5px;
          background-color: transparent;
          border: none;
          font-size: 16px;
          color: #617d98;
          text-align: start;
        }

        .red-button {
          background-color: #ff0000;
          display: flex;
          justify-content: center;
          align-items: center;
          .v-red {
            color: white;
          }
        }

        .green-button {
          background-color: #00ff00;
          display: flex;
          justify-content: center;
          align-items: center;
          .v-green {
            color: white;
          }
        }

        .blue-button {
          background-color: #0000ff;
          display: flex;
          justify-content: center;
          align-items: center;
          .v-blue {
            color: white;
          }
        }

        .black-button {
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          .v-black {
            color: white;
          }
        }

        .yellow-button {
          background-color: #ffb900;
          display: flex;
          justify-content: center;
          align-items: center;
          .v-yellow {
            color: white;
          }
        }
      }
    }

    .price {
      p {
        color: gray;
      }

      // .price-input {}
    }

    .free-shipping {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .clear-filters {
      .clear-filters-button {
        background-color: #bb2525;
        width: 110px;
        height: 25px;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 500;
      }
    }
  }
}
