.main-product-component {
  .products-main {
    margin: 0px 20px 0px 20px;
    margin-top: 60px;
    display: flex;
    gap: 30px;

    .cards-section {
      .cards-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70vw;

        position: relative;
        right: 40px;
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: white;

        .buttons-section {
          display: flex;
          align-items: center;
          gap: 50px;

          .organize-buttons {
            display: flex;
            gap: 15px;

            button {
              width: 25px;
              height: 25px;
              background-color: transparent;
              border: 1px solid black;
              border-radius: 5px;
            }

            .cubes-organize {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .rows-organize {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .products-count {
            color: #324d67;
          }
        }

        .right-cards-section {
          .sorts {
            display: flex;
            gap: 10px;
            align-items: center;
            select {
              border: none;
              height: 30px;
              .option-high {
                background-color: red;
                .button-high {
                  font-size: 40px;
                }
              }
            }
          }
        }
      }
      .the-cards {
        position: relative;
        z-index: 0;
        width: 75vw;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .products-main {
    .cards-section {
      .cards-title {
        margin-left: 20px;
      }
      .the-cards {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .products-main .cards-section {
    .cards-title {
      display: flex;
      flex-direction: column;
    }
  }
}
