.productCount {
  display: flex;
  align-items: center;
  gap: 5px;
  .minus-button {
    width: 32px;
    height: 36px;
    font-size: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  .plus-button {
    width: 32px;
    height: 36px;
    font-size: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
}
