.createNew {
  display: flex;
  justify-content: center;

  .create-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    gap: 20px;

    .name-price {
      width: 400px;
      display: flex;
      justify-content: space-between;

      input {
        width: 150px;
        height: 30px;
        border-radius: 8px;
      }
    }
    .category-brand {
      width: 400px;
      display: flex;
      justify-content: space-between;

      select {
        width: 150px;
        height: 30px;
        border-radius: 8px;
      }
    }
    textarea {
      width: 400px;

      border-radius: 8px;
    }
    .colors-section {
      display: flex;
      flex-direction: column;
      width: 400px;
      align-items: space-between;
      .colors {
        display: flex;
        width: 400px;
        justify-content: space-between;
      }
    }
    button {
      width: "90px";
    }
    .shipping {
      .shipping-cost {
        input {
          width: 100px;
        }
      }
    }
  }
}

@media screen and(max-width:850px) {
  .create-form {
    .create-title {
      display: flex;
      justify-content: center;
      h2 {
        width: 50vw;
      }
    }
    .name-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .category-brand {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .describe-product {
      display: flex;
      justify-content: center;
      textarea {
        width: 50vw;
        display: flex;
        justify-content: center;
      }
    }
    .colors-section {
      display: flex;
      justify-content: center;

      .colors {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        label {
          display: flex;
        }
      }
    }
    .shipping {
      display: flex;
      justify-content: center;
    }
  }
}
